@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Manrope", sans-serif !important;
  }

  body {
    background-image: url("../assets/bg.jpeg");
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    min-height: 100vh !important;
    max-height: 100vh !important;
    overflow: hidden !important;
  }

  body::before {
    @apply content-[""] bg-secondary bg-opacity-50 w-full h-full absolute top-0 left-0 -z-10 pointer-events-none;
  }
}

@layer components {
  .btn {
    @apply flex items-center justify-center flex-1 w-auto mx-auto mt-2 px-2 py-1 bg-primary hover:bg-primary-600 active:bg-primary-700 duration-200 text-vanilla-300 rounded-lg font-medium;
  }

  .btn.btn-danger {
    @apply bg-red-500 hover:bg-red-600 active:bg-red-700;
  }

  .btn svg {
    @apply ml-2;
  }
}
